/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* GENERAL SETTINGS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font:'Raleway', sans-serif;
    --secondary-font:'Roboto Condensed', sans-serif;
    --primary-color: #4792a5;
    --light-color: #efefef;
    --dark-color: #3c3c3c;
}

html {
    font-size: 10px;
    color: var(--dark-color);
    font-family: var(--primary-font);
    scroll-behavior: smooth; /*sayfalari kaydirarak cevirir*/
}

section {
    padding-top: 16rem;
    padding-bottom: 8rem;
    min-height: 100vh;
}

p{
    font-size: 1.4rem;
    line-height: 2.5rem;
}
h1, h2, h3, h4 {
    color: var(--primary-color);
    font-family: var(--primary-font);
}

button {
    border: none;

    /*inherit demek: özelligi kendini kapsayan divden al*/
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a{
    text-decoration: none;
    font-family: var(--secondary-font);
}

img{
    width: 100%;
    max-width: 100%;
}

ul{
    list-style: none;
}

.container {
    width: 100%;
    max-width: 114rem; /*bu bootstrap´in desktop icin verdigi genel özellik. en cok kullanilan dewsktop bu genislikte*/

    margin: 0 auto;
}

/* HERO Section*/